services:
  - type: web
    name: bookbuddy
    env: docker
    plan: free
    autoDeploy: true
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: prod
      - key: PORT
        value: 8080
      - key: GOOGLE_BOOKS_API_KEY
        value: AIzaSyDOTe2GcFf6lKo_478RXrCzZnW-enb8xGk